<div newCourse courseDate={{course.startDate}} class="course row" [ngClass]="{'top-rated': course.topRated}">
	<div class="course-info">
		<div class="course-title-and-date">
			<div class="course-info-item h4">
				{{course.name | uppercase}}
				<span *ngIf="course.topRated" class="star"></span>
			</div>
			<div class="course-info-item">{{course.id}}</div>
			<div class="course-info-item">{{course.length | myDuration}}</div>
			<div class="course-info-item">{{course.date | date : 'MM/dd/yyyy'}}</div>
		</div>
		{{course.description}}
	</div>
	<div class="course-buttons">
		<button class="btn btn-primary" (click)="updateClick(course.id)">Edit</button>
		<button class="btn btn-secondary" (click)="deleteClick(course.id)">Delete</button>
	</div>
</div>
