@import "../../../styles/variables/colors.scss";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


.course {
	border: 1px solid $grey;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	padding: 10px;

	&.top-rated {
		background: #dedede;
	}

	&-info {
		width:80%
	}

	&-title-and-date {
		display: flex;
		justify-content: space-between;
		width:100%;

		.course-info-item {

			&:first-child {
				width:60%;
			}
		}
	}

	.star:before {
		margin: 5px;
		color: yellow;
		font-size: 1.25em;
		font-family: FontAwesome;
		display: inline-block;
		content: "\f005";
	}
}