<div class="todo-item row">
<!-- 	<div class="col-sm-3">{{todo.title}}</div>
	<div class="col-sm-4">{{todo.subTitle}}</div>
	<div class="col-sm-2">{{todo.startDate | date : 'MM/dd/yyyy'}}</div>
	<div class="col-sm-2">{{todo.endDate | date : 'MM/dd/yyyy'}}</div>
	<div class="col-sm-1">{{todo.status}}</div> -->
	<div class="course-info">
		<div class="course-title-and-date">
			{{course.title}} | {{course.id}} | {{course.startDate | date : 'MM/dd/yyyy'}}
		</div>
		{{course.description}}
	</div>
	<div class="course-buttons">
		<button>Edit</button>
		<button>Delete</button>
	</div>
</div>
