@import "../../../styles/variables/colors.scss";


.course {
    border: 1px solid $grey;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	padding: 10px;

	&-info {
		width:80%
	}

	&-title-and-date {
		display: flex;
		justify-content: space-between;
		width:100%;

		.course-info-item {

			&:first-child {
				width:40%;
			}
		}
	}
}