@import "../../../styles/variables/colors.scss";

.main-navbar {
	align-items: center;
	background-color: $grey;
	color: $black;
	display: flex;
	justify-content: space-between;
    padding: 20px 10px;

	&:after {
		clear: both;
		content: ' ';
		display: block;
	}
}

.nav,
login,
logo {
    flex-grow: 1;
}

login {
	text-align: right;
}