html, body{
  //background: url(../assets/img/bg.jpg);
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

a.active {
	background-color: gray;
}


.white-bg {
	background: white;
	height: calc(100% - 140px);
	padding: 10px 40px;
}