<div class="mymodal" [hidden]="modalHidden">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="userAnswer(false)">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" [innerHTML]="modalText"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="userAnswer(false)">Nope</button>
				<button type="button" class="btn btn-primary" (click)="userAnswer(true)">Yep</button>
			</div>
		</div>
	</div>
</div>